<ul class="nav nav-pills">
    <li class="nav-item">
        <a
            href="{{ inventoryModuleUrl }}"
            class="{% if currentRoute == 'prestashop_inventory_products' %}nav-link active{% else %}nav-link{% endif %}"
            {% if currentRoute == 'prestashop_inventory_products' %}aria-current="page"{% endif %}
            role="tab"
        >
            {{ inventoryTexts.products_tab }}
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{{ inventorySuppliersUrl }}"
            class="{% if currentRoute == 'prestashop_inventory_suppliers' %}nav-link active{% else %}nav-link{% endif %}"
            {% if currentRoute == 'prestashop_inventory_suppliers' %}aria-current="page"{% endif %}
            role="tab"
        >
            {{ inventoryTexts.suppliers_tab }}
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{{ inventoryPurchaseOrdersUrl }}"
            class="{% if currentRoute == 'prestashop_inventory_purchase_orders' %}nav-link active{% else %}nav-link{% endif %}"
            {% if currentRoute == 'prestashop_inventory_purchase_orders' %}aria-current="page"{% endif %}
            role="tab"
        >
            {{ inventoryTexts.purchase_orders_tab }}
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{{ inventoryConfigUrl }}"
            class="{% if currentRoute == 'prestashop_inventory_settings' %}nav-link active{% else %}nav-link{% endif %}"
            {% if currentRoute == 'prestashop_inventory_settings' %}aria-current="page"{% endif %}
            role="tab"
        >
            {{ inventoryTexts.settings_tab }}
        </a>
    </li>
</ul>
